@import "style-variables";
@import "style-colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $primary-dark;
}

.item-wrapper {
  display: flex;
  flex-direction: row;
  font-size: 40px;
  font-weight: 400;
  line-height: 61,16px;
  color:#E75A7A;
}
.footer {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  font-size: 16px;
  font-weight: 400;
  line-height: 61,16px;
  color:#FFFFFF80;
;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow: auto;

  nav {
    min-width: 150px;
    padding: $medium;
    overflow-x: auto;
    cursor: context-menu;
  }

  .content {
    width: 100%;
    min-width: 768px;
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    overflow: auto;
    .mobile{
    font-weight: 400px;
    line-height: 36px;
    letter-spacing: 0em;
    font-size: 24px;

    color: #37193B80;
    }
  }
}

header {
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 90px;

  .logo {
    position: relative;
    width: 193px;
    height: 90px;
    margin: 0 auto;
    font-size: 48px;
    font-weight: 600;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.35);

    .text-secondary {
      position: absolute;
      color: #fff;

      &.port {
        top: 0;
        left: 8px;
        font-weight: 600;
      }

      &.io {
        top: 0;
        left: 154px;
        font-weight: 600;
      }
    }

    .text-funny {
      position: absolute;
      color: $danger;
      &.fun {
        top: 4px;
        left: 79px;
        font-weight: 400;
      }
    }
  }
}

footer {
  background-color: rgba(0, 0, 0, 0.35);
  width: 100%;
  height: 90px;
}

.action-button {
  transition: all 0.33s ease;
  padding: $small;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: $radius;
  box-shadow: 0px 0px 0px 2px transparent;
  font-size: 36px;
  color: #37193b;

  &:hover {
    transition: all 0.33s ease;

    &.primary {
      background-color: $primary-light;
      box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.35);
      
    }

    &.success {
      background-color: $success-dark;
      box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.35);
    }

    &.alert {
      background-color: $alert-dark;
      box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.35);
    }

    &.danger {
      background-color: $danger-dark;
      box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.35);
    }
    &.icon {
    animation: pulseAnimation 2s infinite alternate;
    }
  }
}

.action-button-description{
align-self: center;

}

.item-box{
  font-weight: 400;
  font-size: 20px;
  line-height: 30.58px;
  color: rgba(55, 25, 59,0.5);
}