$fonts: Helvetica, sans-serif;
$font-khand: '__Khand_413cf3', '__Khand_413cf3_Fallback_', 'Khand', sans-serif;
$font-lily: '__Lily_Script_One_a9baf6', '__Lily_Script_One_Fallback_a9baf6', 'Lily Script One', system-ui;
$font-roboto: '__Roboto_Slab_f9b89a', '__Roboto_Slab_Fallback_f9b89a','Roboto Slab', serif;
$text-light: #fff;
$text-dark: #000;

$primary: #37193b;
$danger: #e75a7a;
$success: #f59275;
$alert: #f59275;
$dark: #555;
$light: #ccc;

$primary-dark: #261129;
$danger-dark: #e44468;
$success-dark: #f37f5d;
$alert-dark: #f3b85b;
$darker: #333;

$primary-light: #48214d;
$danger-light: #ea708c;
$success-light: #f7a58d;
$alert-light: #f7cc8b;
$lighter: #eee;

$radius: 4px;
$radius-strong: 8px;
$radius-rounded: 50%;
$radius-flat: 0;

$tiny: 2px;
$small: 4px;
$medium: 8px;
$large: 16px;
$extra-large: 24px;